.star {
  width: 30px;
  height: 30px;
}

.rating {
  margin-top: 0px;
}

.rating-container {
  width: 126%;
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
  margin-top: 10px;
  margin-left: -28%;
  align-items: center;
}

@media screen and (max-width: 768px) {
  .star {
    width: 25px;
    height: 25px;
  }
}

@media screen and (max-width: 493px) {
  .star {
    width: 22px;
  }
}

@media screen and (max-width: 480px) {
  .rating-container {
    justify-content: space-between;
    height: 20px;
    margin-left: 0px;
  }
}
