.title-container {
  display: flex;
  margin: 0 auto;
  margin-left: 10px;
}

.title {
  color: #ff6060;
  margin-bottom: 10px;
}

h2 {
  font-size: 1.3rem;
  margin-bottom: 10px;
}

h3 {
  font-size: 1rem;
}

@media screen and (max-width: 772px) {
  .title-container {
    justify-content: flex-start;
  }

  h2 {
    font-size: 1rem;
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 480px) {
  .hosting-container {
    margin-top: -7px;
  }

  .housing-title {
    justify-content: flex-start;
  }

  .title-container {
    justify-content: initial;
    width: 100%;
  }

  .tag-container {
    justify-content: initial;
    margin-left: -20px;
  }
}

@media screen and (max-width: 412px) {
  .title {
    margin-bottom: 0px;
  }
}
